.banner {
  width: 1250px;
  height: 250px;
  border-radius: 0%;
  position: fixed;
}
#main {
    position: relative;
}

.headline {
    position: absolute;
    left: 400px;
    width: 600px;
    top: 300px;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #3C474D;
}
.contact {
    position: absolute;
    left: 400px;
    width: 450px;
    top: 480px;
    font-family: sans-serif;
    font-style: oblique;
}
.classroom {
    position: absolute;
    left: 400px;
    top: 550px;
    width: 450px;
    height: 250px;
    border-radius: 0%;
}
img {
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    position: absolute;
}
.nav {
    position: relative;
    left: 200px;
    width: 150px;
    top: 345px;
    font-family: sans-serif;
    color: #606264;
    font-weight: bold;
}

