html {
      font-family: sans-serif;
}

div.header{
    width: 1250px;
    height: 250px;
    position: relative;

}

#main {
    width: 100%;
    display:block;

}

.middle-column {
    position: absolute;
    left: 400px;
    width: 600px;
    top: 375px;
    font-family: sans-serif;
    color: #3C474D;
}

.left-column {
    position: relative;
    left: 200px;
    width: 130px;
    top: 120px;
    font-family: sans-serif;
    color: #606264;
    font-weight: bold;
    border-bottom: thin solid gray;
}

.badge {
    border-radius: 100%;
    border: 5px solid white;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 250px;
}
.searchbox {
    position: relative;
    top: -10px;
    width: 150px;
    display: block;
}

a {
  font-style: oblique;
}




