* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
          box-sizing: border-box;
}

html {
      font-family: sans-serif;
}

body {
    max-width: 100%;
    height: auto;
    margin: 0;
    overflow: auto;
}
.header{
    height: 100%;
    position: relative;

}

.main {
    max-width: 100%;
    display:block;

}

.middle-column {
    position: absolute;
    left: 400px;
    width: 80%;
    top: 375px;
    font-family: sans-serif;
    color: #3C474D;
}

.left-column {
    position: relative;
    left: 200px;
    width: 130px;
    top: 120px;
    font-family: sans-serif;
    color: #606264;
    font-weight: bold;
    border-bottom: thin solid gray;
}

.badge {
    border-radius: 100%;
    border: 5px solid white;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 210px;
}
.searchbox {
    position: relative;
    top: -10px;
    width: 150px;
    display: block;
}

a {
  font-style: oblique;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border: solid 1px gray;
    font-family: sans-serif;
    display: inline;
}




